/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
    padding: 30px;
    background-color: #7a0019;
    background-image: url(https://morris.umn.edu/sites/morris.umn.edu/themes/oc_child/images/logo-desktop.png?1489178744);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
 * Use of media query to change the flex-direction of the #pslo and #courses
 * elements when the width of the screen exceeds 925px to put
 * them side-by-side.
 */
 @media screen and (min-width: 925px) {
    .pslo-courses-container {
      display: flex;
      flex-direction: row;
      max-width: 53em;
    }
}







/*
Possible designs:

 - Partial transparency, go to full transparency on hover
 - Background image which stays still while scrolling
 - Change boxes-stick to side? scrolling menu staying alongside?
 - Keep maroon and gold if possible.
 -
*/
