/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body{
    padding: 30px;
    background-color: #ffffff;
}

/*
Possible designs:

 - Partial transparency, go to full transparency on hover
 - Background image which stays still while scrolling
 - Change boxes-stick to side? scrolling menu staying alongside?
 - Keep maroon and gold if possible.
 -
*/
